<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inside" routerLink="/tabs/inside" routerLinkActive="tab-selected">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="message" routerLink="/tabs/message" routerLinkActive="tab-selected">
      <ion-icon name="mail-open-outline"></ion-icon>
    </ion-tab-button>

  <ion-tab-button tab="notification" routerLink="/tabs/notification" routerLinkActive="tab-selected">
    <ion-icon name="notifications-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
