<ion-content>
  <div class="container">
    <div class="logo">
      <img src="/assets/images/sendifile2.png" alt="logo"> 
      <p>sendifile</p>
    </div>

    <div class="middle">
      <p class="b">Forgot password?</p>

      <ion-item class="a" lines="none">
        <ion-input type="email" [(ngModel)]="email" placeholder="Email" required>
          <ion-icon  name="mail-outline" slot="start"></ion-icon>
        </ion-input>
      </ion-item>

      <button expand="full" (click)="resetPassword()">Reset</button>

      <p class="forgot">
        <a class="sign" routerLink="/home">Back to login</a>
      </p>
    </div>

    <div class="baba">
      <p>Don't have an account? <a class="sign" routerLink="/signup">Register</a></p>
    </div>

    <div class="footer">
      
    </div>
  </div>
</ion-content>
