.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92.5vh;
}

.up {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 1; 
    position: relative;
}

.up .profile {
    margin: auto;
    display: flex;
    margin-bottom: 5px;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.up .profile img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.up .profile p {
    margin-left: 10px;
}
.up .profile .k {
    margin-left: auto;
    margin-right: 10px;
    width: 30px;
    font-size: 22px;
    cursor: pointer;
}
.up .search {
    margin-top: 5px;
    width: 80%;
}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 30px;
}
.mid .card{
    width: 300px;
    border-radius: 10px;
}
.mid .hi{
    margin:20px ;
}

.down {
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    position: relative;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding: 10px;
}
.down .j {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}
.down .j img {
    width: 70%;
}
.down .j p{
    margin-top: -10px;
    
}


ion-item {
    --border-radius: 15px; 
    overflow: hidden;
    --inner-border-width: 0;
}

.t{
    display: none;
}

.k.sunny {
    color: #f2c94c; 
}
.custom-fab {
    bottom: 20px; 
    right: 20px;
}
  
ion-tab-bar {
    padding-bottom: 0; 
}

.custom-fab ion-fab-button {
    --background: tomato;
    --ripple-color: rgba(255, 99, 71, 0.2);
    --color:white;
}
.d{
    --background:none;
}
.no-folders{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
