<ion-content>
  <div class="container">
    <div class="up">
      <div class="profile">
        <img [routerLink]="['/tabs/profile']" src="assets/images/maloi.jpg" alt="profile picture">
        <p>{{ currentUser.displayName }}</p>
        <ion-icon 
          class="k" 
          [class.sunny]="!isDarkMode" 
          [class.moon]="isDarkMode" 
          [name]="isDarkMode ? 'moon' : 'sunny'"
          (click)="toggleTheme()">
        </ion-icon>
        <ion-toggle class="t" [(ngModel)]="isDarkMode" (ionChange)="toggleTheme()" hidden></ion-toggle>
      </div>
      <div class="search">
        <ion-item>
          <ion-input type="text" placeholder="search folders and files">
            <ion-icon name="search-outline" slot="start"></ion-icon>
          </ion-input>
        </ion-item>
      </div>
    </div>

    <div class="down" *ngIf="folders.length > 0; else noFoldersTemplate">
      <div *ngFor="let folder of folders" class="j" >
        <img class="a" src="assets/icon/file.svg" alt="Folder Icon"(click)="openFolderModal(folder.name)">
        <p class="b">{{ folder.name }}</p>
        <ion-icon class="c" name="ellipsis-vertical-outline" (click)="manageFolder(folder.name)"></ion-icon>
      </div>
    </div>
    
    <ng-template #noFoldersTemplate>
      <div class="no-folders">
        <img class="g" src="assets/images/girl2.gif" alt="Folder Icon">
        <p class="confirm">Add folders here.</p>
      </div>
    </ng-template>
    
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="custom-fab">
    <ion-fab-button (click)="presentActionSheetFolder()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<ion-modal [isOpen]="isFolderModalOpen" (didDismiss)="closeFolderModal()">
  <ng-template>
    <div class="f">

    <div class="d">
      <ion-title>{{selectedFolderName}}</ion-title>
      <ion-buttons slot="end">
        <ion-icon name="arrow-back" (click)="closeFolderModal()"></ion-icon>
      </ion-buttons>
    </div>

    <div class="search">
      <ion-item>
        <ion-input type="text" placeholder="search folders and files">
          <ion-icon name="search-outline" slot="start"></ion-icon>
        </ion-input>
      </ion-item>
    </div>

    <div class="e" *ngIf="folderFiles.length > 0; else noFilesTemplate">
        <div *ngFor="let file of folderFiles" class="j">
          <img class="a" src="assets/icon/file.svg" alt="Folder Icon">
          <p class="b">{{ file.name }}</p>
          <ion-icon class="c" name="ellipsis-vertical-outline" (click)="manageFile(file.name)"></ion-icon>
        </div>       
    </div>

    <ng-template #noFilesTemplate>
      <div class="no-folders">
        <img class="g" src="assets/images/girl2.gif" alt="Folder Icon">
        <p class="confirm">Upload files here.</p>
      </div>
    </ng-template>

     <div class="fix">
    </div>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="custom-fab">
          <ion-fab-button (click)="presentActionSheetFile()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      
      </div>
  </ng-template>
</ion-modal>

