<ion-content>
  <div class="container">
    <div class="up">
      <div class="profile">
        <img [routerLink]="['/tabs/profile']" src="assets/images/maloi.jpg" alt="profile picture">
        <p>{{ currentUser.displayName }}</p>
        <ion-icon 
          class="k" 
          [class.sunny]="!isDarkMode" 
          [class.moon]="isDarkMode" 
          [name]="isDarkMode ? 'moon' : 'sunny'"
          (click)="toggleTheme()">
        </ion-icon>
        <ion-toggle class="t" [(ngModel)]="isDarkMode" (ionChange)="toggleTheme()" hidden></ion-toggle>
      </div>
      <div class="search">
        <ion-item>
          <ion-input type="text" placeholder="search folders and files">
            <ion-icon name="search-outline" slot="start"></ion-icon>
          </ion-input>
        </ion-item>
      </div>
    </div>

    <div class="down" *ngIf="folders.length > 0; else noFoldersTemplate">
      <div *ngFor="let folder of folders" class="j" (click)="openFolderModal()">
        <img src="assets/icon/file.svg" alt="Folder Icon">
        <p>{{ folder.name }}</p>
      </div>
    </div>
    
    <ng-template #noFoldersTemplate>
      <div class="no-folders">
        <p>No folders.</p>
      </div>
    </ng-template>
    
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="custom-fab">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-modal [isOpen]="isFolderModalOpen" (didDismiss)="closeFolderModal()">
  <ng-template>
      <ion-toolbar class="d">
        <ion-title>Folder Name</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeFolderModal()">close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    <ion-content>

    </ion-content>
  </ng-template>
</ion-modal>
