/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
  font-family: 'Sour Gummy';
  src: url('assets/fonts/Sour_Gummy/SourGummy-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Monoton';
  src: url('assets/fonts/Monoton/Monoton-Regular.ttf') format('truetype');
  font-style: normal;
}


body {
    --ion-background-color: rgb(255, 255, 255);
    --ion-text-color: #000000;
    --ion-toolbar-background: #f8f8f8;
    --ion-toolbar-color: #000000;
    --ion-input-background: #f1f1f1;
    --ion-input-text-color: #000000;
    --ion-tab-bar-background: #f8f8f8; 
    --ion-tab-bar-color: #000000;      
    --ion-button-background:tomato;
    --ion-button-text-color:rgb(255, 255, 255);
    --ion-tab-bar-border:none;
    --ion-list-background:white;
    --ion-list-color:black;
    
  }
  
body.dark {
    --ion-background-color:#000916;
    --ion-text-color: #ffffff;
    --ion-toolbar-background: #333333;
    --ion-toolbar-color: #ffffff;
    --ion-input-background:#000f25;
    --ion-input-text-color: #ffffff;
    --ion-tab-bar-background: #000c1f; 
    --ion-tab-bar-color: #ffffff;    
    --ion-button-background:tomato;
    --ion-list-background:black;
    --ion-list-color:white;
    --ion-action-sheet-background::#000f25;
    --ion-action-sheet-color:black;
  }
  

ion-tab-bar {
    --background: var(--ion-tab-bar-background);
    --color: var(--ion-tab-bar-color);
    --border:var(--ion-tab-bar-border);
  }
  ion-list{
    --background: var(--ion-list-background);
    --color: var(--ion-list-color);
  }

ion-item::part(native) {
    --background: var(--ion-input-background);
    --color: var(--ion-input-text-color);
  }
  
ion-button {
    --background: var(--ion-button-background);
    --color: var(--ion-button-text-color);
  }
  
  .eye {
    color: var(--ion-text-color); 
  }
  
  body.dark .eye {
    color: #ffffff;
  }
  
  body:not(.dark) .eye {
    color: #000000;
  }

  .card {
    color: var(--ion-text-color); 
    background: var(--ion-card-background);
  }
  
  body.dark .card {
    color: #ffffff;
    background:#000f25 ;
  }
  
  body:not(.dark) .card {
    color: #000000;
    background: white;
  }
.container{
  font-family: 'Sour Gummy';
}
ion-content{
  font-family: 'Sour Gummy';
}


body.dark .j{
  box-shadow:none;
}

body .j{
   background:  linear-gradient(to right, #000f2522,rgba(255, 99, 71, 0.147));
  box-shadow: 0 1px 1px 0 rgb(133, 133, 133);
}

body:not(.dark) .custom-action-sheet .action-sheet-group {
  --ion-button-color:black;
  background: linear-gradient(to right, #000f25,rgb(255, 99, 71));
  font-family: 'Sour Gummy';
}

.confirm{
  font-family: 'Sour Gummy';
}
body .icon{
  color: tomato;
}
body.dark .icon{
  color: white;
}
.title{
  font-family: 'Monoton';
  font-size: 30px;
  margin-top: -5px;
}
.splash-screen {
  position: relative;
  height: 100vh; 
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}

.splash-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/images/bg8.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  opacity: 90%; 
  z-index: -1; 
}

