.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.logo{
  position: relative;
  margin-top: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo img{
width: 50px;
}
.logo p{
  text-transform: uppercase;
  letter-spacing: 10px;
}
.middle {
  position: relative;
  margin: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle .a{
  width: 80%;
  height: 54px;
  border: none;
  margin-bottom: 20px;
}
.middle .b{
  text-align: center;
  margin-bottom: 30px;
}
.middle input::placeholder{
  margin-left: 30px;
}
.middle button{
  width: 80%;
  height: 54px;
  background-color:tomato;
  border-radius: 25px;
  border: none;
  font-size: 18px;
}
.middle .forgot{
  align-self: center;
}
.baba{
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.footer .n{
  font-style: italic;
  font-size: 10px;
}
.menu{
  color: white;
}
.sign{
  text-decoration: none;
  color:tomato
}
ion-item{
  --border-radius:20px;
  --box-shadow: none;
}
.eye{
  cursor: pointer;
  font-size: 18px;
}


.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.splash-screen img {
  width: 100px;
  height: 100px;
  animation: imageAnimation 3s ease-in-out infinite;
}

@keyframes imageAnimation {
  0% {
    transform: scale(0.5) rotate(0deg);
    opacity: 0;
  }
  30% {
    transform: scale(1.1) rotate(30deg);
    opacity: 0.8;
  }
  60% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}


.splash-screen p {
  text-transform: uppercase;
  letter-spacing: 5px;
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}